.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-left: 0px;

  border: 1px solid #94a3b8;
  max-height: 40vh;
  background-color: #1f1f2f;
}
.name {
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 20px;
  color: #f1f5f9;
}
.text {
  font-family: 'Roboto';
  color: #f1f5f9;
  margin-right: 40px;
}
.btn {
  padding: 7px 11px 7px 11px;
  border: none;
  outline: none;
  width: 75px;
  background-color: #3b82f6;
  color: #ffffff;
  border-radius: 4px;
  font-family: 'Roboto';
  margin-right: 20px;
}
